:root {
    --primary-color: green;
    --secondary-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TASA Explorer", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}

header {
    padding-top: 0.5rem;
}

footer {
    padding: 0.5rem;
}

main {
    margin: 0 auto;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    padding: 0.7rem;
    color: var(--secondary-color);
    text-decoration: none;
}

/* Home page style */
.home {
    max-width: 800px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home img {
    margin: 1rem;
}

.welcome {
    text-align: center;
    padding-bottom: 5rem;
}

.home p {
    margin: 1rem;
}

/* Card page style */
.sort {
    margin: 0.5rem;
}

#options {
    margin-left: 0.3rem;
    padding: 0.3rem;
}

.cards div{
    max-width: 1100px;
    text-align: center;
}

.cards img {
    margin: 1rem;
}

/* Form style */
fieldset {
    border: none;
    padding: .5rem 2%;
}

input[type="text"] {
    border: solid 1px #999;
    width: 100%;
    padding: .5rem;
    appearance: none;
}

.address {
    margin-bottom: 0.1rem;
}

input[type="submit"] {
    padding: 0.5rem;
    width: 96%;
    margin: 1rem 2% 2rem 2%;
    font-size: 1.2rem;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .home, .deck div {
        display: flex;
        flex-direction: column;
    }

    .home div {
        text-align: center;
        margin: 1rem;
    }
}