* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "TASA Explorer", sans-serif;
}

body {
    background-color: green;
}

header, footer {
    color: white;
}

main {
    background-color: white;
}