* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "TASA Explorer", sans-serif;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
    text-decoration: none;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "\00d7";
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    background-color: lightblue;
}

nav a {
    display: none;
    padding: 1rem;
    color: black;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
}

.open a {
	display: block;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

.picture {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

img {
    max-width: 250px;
}