@media screen and (min-width: 500px) {
    #menu {
        display: none;
    }

    nav ul {
        flex-direction: row;
    }

    nav a {
        display: block;
    }

    .picture {
        grid-template-columns: 1fr 1fr 1fr;
    }
}